body {
    overflow: auto;
    background-color: white;
}

/* #charPage {
    display: flex;
    flex-direction: column;
    justify-content: center;

} */

.page-container {
    margin-top: 65px;
}

#columns {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.columnDiv {
    background-color: white;
    border: black solid 2px;
    border-radius: 5px;
    margin: 5px;
    display: flex;
    height: 780px;
    min-height: 100px;
}

.smallCol {
    min-width: 330px;
    max-width: 330px;
}

.bigCol {
    width: 630px;
    max-width: 100%;
}

.invSquare {
    width: 100px;
    height: 100px;
    margin: 10px;
    border: black solid 1px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: default; 
}

.invSquare2 {
    width: 90px;
    height: 90px;
    margin: 10px;
    border: black solid 1px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: default;
}

#statCol {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#stats , #skills{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#stats {
    width: 38%;
} 

#skills{
    width: 62%;
}

.inspAndProf {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
    border: black solid 1px;
    border-radius: 5px;
    margin: 10px;
    line-height: 40px;
    padding-right: 15px;
    font-size: 14px;
    cursor: default;
}

.manySkills {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: black solid 1px;
    border-radius: 5px;
    margin: 10px;
}

.boxedNumber {
    width: 34px;
    height: 34px;
    border: black solid 1px;
    line-height: 34px;
    margin: 2px 10px 0 2px;
    text-align: center;
    font-size: 15px;
}

.singleSkill {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 0 3px;
    margin: 1px;
    font-size: 14px;
    cursor: default;
}

.skillValue {
    margin: 0 5px;
}

.statValue {
    font-size: 32px;
    text-align: center;
    width: 65px;
    max-height: 50px;
}

#invCol, #weaponBox, #inventoryRow, #goldCol {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.invRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.col2Text {
    font-size: 15px;
}

#minusHealth, #plusHealth, #minusTempHealth, #plusTempHealth {
    background-color: #800000;
    color: white;
    margin: 0 20px;
}

#hitDice, #deathSave {
    width: 45%;
    height: 90px;
    border: black solid 1px;
    border-radius: 5px;
    margin: 10px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dSaveRow {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    font-size: 13px;
}

.dSaveRow > input {
    margin: 8px 5px;
}

.boxRow {
    width: 310px;
    border: black solid 1px;
    border-radius: 5px;
    padding: 8px 10px 0 10px;
    margin: 10px;
}

.weaponRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2px 10px;
    width: 100%;
}

.weaponWide, .weaponShort {
    border: black solid 1px !important;
    padding: 0 5px;
    text-align: center;
}

.weaponWide {
    width: 100px;
}

.weaponShort {
    width: 50px;
    margin: 2px 10px;
}

#equipRow {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}


#equipText {
    margin: 0 10px;
}

.goldBox {
    border: black solid 1px;
    width: 50px;
    padding: 5px;
    font-size: 13px;
}

.goldRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 55px;
}

.goldNum {
    width: 25px;
    text-align: center;
}

#featsCol {
    padding: 10px;
}

#feats {
    width: 605px;
    height: 100%;
    font-size: 15px;
}

.bmd-form-group {
    padding: 0;
    width: auto;
    text-align: center;
}

#infoRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1300px;
    overflow: inherit;
    margin: 0 auto;
}

.infoCol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    width: 200px;
}

.infoInput {
    width: 200px;
}

.editable {
    border: none;
    background-color:#80000033;
}

.editable:disabled {
    background-color: white;
}

.interactable:disabled {
    cursor: pointer;
}

@media (max-width: 1320px) {
    #columns {
        justify-content: space-between;
    }
}