body {
    background: #DDDDDD;
}

.navbar {
    background-color: #800000;
    color: white;
}

.page-container {
    margin-top: 75px;
}

.navbar-buttons {
	display: flex;
}

.navbar-buttons a {
	color: white;
	text-decoration: none;
	margin: 0 0.7em;
}

.btn.btn-primary.btn-raised, .btn.btn-primary.bmd-btn-fab {
	color: #fff !important;
	background-color: #800000 !important;
	border-color: #800000 !important;
}
