#registerPage {
	padding: 12px;
	padding-top: 0;
}

#registerBox {
	margin: auto;
	max-width: 700px;
}

#registerButton {
	display: block;
	margin: 2em auto 0;
}

#registerBox .form-group {
	margin-bottom: 0;
}
